body{
  margin: 0;
  padding: 0px 100px;
}

.container{
  margin: 0;
  padding: 0px 100px;
}

.header{
  background-color: purple;
  color: white;
  position: fixed;
  width: inherit;
  opacity: 0.85;
  height: 50px;
  align-items: center;
}

.header ul{
  list-style: none;
  display: inline-flex;
  align-items: center;
  margin: 0px;
  padding: 0px;
  height: 50px;
}

.header ul li{
  display: inline-block;
  margin: 0px 0px;
  border: 1px solid transparent;
  width: 150px;
  padding: 15px 0px;
  height: inherit;
}
